<div class="wrapper" [ngClass]="isDarkTheme ? 'dark' : 'light'">
  <div class="container">
    <!--HEADER-->
    <div class="header">
      <h1 class="text-primary">devfinder</h1>
      <div class="btn-toggle-group text-1">
        <span>{{ themeText }}</span>
        <span class="btn-toggle" (click)="handleToggleTheme()"
          ><i
            class="bi"
            [ngClass]="isDarkTheme ? 'bi-sun-fill' : 'bi-moon-fill'"
          ></i>
          <i class="bi"></i>
        </span>
      </div>
    </div>
    <!--SEARCH-->
    <div class="search-group element">
      <input
        type="text"
        placeholder="Search GitHub username…"
        class="input-text"
        [(ngModel)]="userName"
        (change)="handleShowUserName()"
      />
      <button (click)="handleShowUserName()">Search</button>
    </div>
    <!--USER VIEW-->
    <div class="container-view element" *ngIf="userProfil">
      <div class="left">
        <img [src]="userProfil.avatar_url" alt="" />
      </div>
      <div class="right">
        <div class="details">
          <div class="details__basics">
            <div class="name-group">
              <img [src]="userProfil.avatar_url" alt="" />
              <span>
                <span class="name">
                  <span class="text-primary">{{ userProfil.name }}</span>
                  <span [style.color]="'#0079FF'">{{ userProfil.login }}</span>
                </span>
                <span class="date"
                  >Joined {{ userProfil.created_at | date : "dd MMM YYY" }}
                </span>
              </span>
            </div>
            <div class="bio-txt" *ngIf="userProfil.bio">
              {{ userProfil.bio }}
            </div>
          </div>
          <div class="details__secondary">
            <div class="repos-followers-following element1">
              <span>
                <span class="bio-txt">Repos</span>
                <span class="text-primary">{{ userProfil.public_repos }}</span>
              </span>
              <span>
                <span class="bio-txt">Followers</span>
                <span class="text-primary">{{ userProfil.followers }}</span>
              </span>
              <span>
                <span class="bio-txt">Following</span>
                <span class="text-primary">{{ userProfil.following }}</span>
              </span>
            </div>
            <div class="socials">
              <div class="top-content">
                <span>
                  <span class="icon"><i class="bi bi-geo-alt-fill"></i> </span>
                  <span class="text icon" *ngIf="userProfil.location">{{
                    userProfil.location
                  }}</span>
                  <span
                    [style.color]="!userProfil.location ? '#4B6A9B' : ''"
                    *ngIf="!userProfil.location"
                    >Not Available</span
                  >
                </span>
                <span>
                  <span
                    class="icon"
                    [style.color]="!userProfil.twitter ? '#4B6A9B' : ''"
                    ><i class="bi bi-twitter"></i
                  ></span>
                  <span class="text icon" *ngIf="userProfil.twitter"
                    >Twitter</span
                  >
                  <span *ngIf="!userProfil.twitter" [style.color]="'#4B6A9B'"
                    >Not Available</span
                  >
                </span>
              </div>
              <div class="bottom-content">
                <span>
                  <span
                    class="icon"
                    [style.color]="!userProfil.blog ? '#4B6A9B' : ''"
                    ><i class="bi bi-link-45deg"></i
                  ></span>
                  <span class="text icon" *ngIf="userProfil.blog">{{
                    userProfil.blog
                  }}</span>
                  <span [style.color]="'#4B6A9B'" *ngIf="!userProfil.blog"
                    >Not Available</span
                  >
                </span>
                <span>
                  <span
                    class="icon"
                    [style.color]="!userProfil.company ? '#4B6A9B' : ''"
                    ><i class="bi bi-github"></i
                  ></span>
                  <span class="text icon" *ngIf="userProfil.company">{{
                    userProfil.company
                  }}</span>
                  <span [style.color]="'#4B6A9B'" *ngIf="!userProfil.company"
                    >Not Available</span
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
